@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.food-truck-animation {
  animation: float 3s ease-in-out infinite;
}

/* Add some texture to the background */
.menu-paper-texture {
  background-image: url("/images/paper-texture.png");
  background-blend-mode: multiply;
  background-size: 200px;
}
